footer{
    background-color: #132c33;
    font-size: 24px;
    width: 1300px;
    padding: 10px 40px;
    margin: 0px  auto 0px;
    color: #51c4d3;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}