main{
    background-color: #126e82;
    margin: 0px auto;
    width: 1300px;
    form {
        border: 1px solid #d8e3e7;
        border-radius: 35px;
        padding: 40px;
    }
    
    input {
        padding: 5px 20px;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
    }
    strong{
        color:#d8e3e7;
        padding: 10px;
    }
    div{
        color:#d8e3e7;
        padding: 5px;
    }
    
}

